
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

.jumbotron {
  background: rgba(255,255,255,.9);
  margin-top: 20vh;
}

#search {
  width: 70%;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  margin-right: 20px;
  font-weight: bold;
}

.btn {
  height: 50px;
  width: 100px;
}
